{
    "CheckOverrides":"",
    "NewChecklistOptions": [
        {
            "Name": "Windows Server 2012 R2 - MS - Core",
            "CKL":[
                "U_MS_Windows_2012_and_2012_R2_MS",
                "U_MS_DotNet_Framework_4-0",
                "U_MS_IE11"
            ]
        },
        {
            "Name": "Windows Server 2012 R2 - DC - Core",
            "CKL":[
                "U_MS_Windows_2012_and_2012_R2_DC",
                "U_MS_DotNet_Framework_4-0",
                "U_MS_IE11"
            ]
        },
        {
            "Name": "Windows Server 2016 - Core",
            "CKL":[
                "U_MS_Windows_Server_2016_STIG",
                "U_MS_DotNet_Framework_4-0",
                "U_MS_IE11"
            ]
        },
        {
            "Name": "Windows 10 - Core",
            "CKL":[
                "U_MS_Windows_10_STIG",
                "U_MS_DotNet_Framework_4-0",
                "U_MS_IE11",
                "U_Adobe_Acrobat_Reader_DC_Continuous",
                "U_Google_Chrome_STIG",
                "U_Mozilla_FireFox_STIG"
            ]
        }
    ]
}